* {
    box-sizing: border-box;
  }

  body {
    background-color: darkblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: relative;
    height: 100vh; /*How to set the height of the total side?*/
  }

  header {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 0px 0 10px 12.5%;
    gap: 100px; /* why can I not use the gap property for the flexbox here? */
  }

  .navigation {
  }

  .item1, .item2, .item3, .item4 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-right: 15px;
  }

  aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    right: 87.5%;
    bottom: 0;
    height: 100%; /*How to set the height equal to the height of the body despite having a margin at the top?*/
  }

  .placeholder {
        align-self: center;
        font-size: 80px;
        position: relative;
        bottom: 100px; /*how to align item independently in the flexbox at the top?*/
  }

  .link1, .link2, .link3 {
    padding-left: 25%;
    text-decoration: none;
    color: white;
    position: relative;
    top: 50vh; /*how can I align items at the bottom of a page while setting flex-direction property on column?*/
  }

  main {
    margin-left: 12.5%;
    height: 25vh; /*any better way to set the height? */
    position: relative;
  }

  section {
    position: absolute;
    top: 55%; /*any better solution to set the height?*/
  }

  .about-me {
  }

  .text {
    width: 40%;
    height: 450px; /*again problems with setting the height?*/
    font-size: 60px;
    padding-left: 30px;
  }

  footer {
    margin-left: 12.5%;
    position: fixed;
    left: 37.5%;
    bottom: 0%;
    transform: translate(-50%);
  }


